@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Merriweather", ui-serif, Georgia, serif;
  --color-primary: #1F3E93;
  --color-primary-light: #4D72C6;
  --color-secondary: #F57303;
  --color-secondary-hover: #E06902;
  --color-dark: #151D42;
}

body {
  font-family: var(--font-sans);
  color: var(--color-dark);
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-primary);
}
